extends layout

block content
 h1#results results of our api should be here plus and input field


  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script(src="/javascripts/main.js")

 