extends layout

block content
 h1#results
 input#city(type="search", placeholder="username", name="username")
 input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
 button#btnSubmit(type="submit", value="submit")

 script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
 script(src="/javascripts/main.js")

 